@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}



<!-- About Start -->
<div class="container-xxl py-5">
    <div class="container">
        <div class="row g-5">
            <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.1s" style="min-height: 400px;">
                <div class="position-relative h-100">
                    <img class="img-fluid position-absolute w-100 h-100" src="img/about.jpg" alt="" style="object-fit: cover;">
                </div>
            </div>
            <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.3s">
                <h6 class="section-title bg-white text-start text-primary pe-3">Về chúng tôi</h6>
                <h1 class="mb-4">Chào mừng tới <span class="text-primary">ITravel</span></h1>
                <p class="mb-4">Chúng tôi rất vui mừng được giới thiệu với bạn đội ngũ du lịch mới và nhiệt tình của chúng tôi, tận tâm mang đến cho bạn những trải nghiệm du lịch khó quên.</p>
                <p class="mb-4">Bao gồm một nhóm các cá nhân đa dạng, mỗi người mang những kỹ năng và chuyên môn riêng, nhóm của chúng tôi sẵn sàng xác định lại hành trình của bạn thành một cuộc phiêu lưu đáng chú ý.</p>

            </div>
        </div>
    </div>
</div>
<!-- About End -->
<!-- Destination Start -->
<div class="container-xxl py-5 destination">
    <div class="container">
        <div class="text-center wow fadeInUp" data-wow-delay="0.1s">
            <h6 class="section-title bg-white text-center text-primary px-3">Địa Điểm</h6>
            <h1 class="mb-5">Địa Điểm Nổi Bật</h1>
        </div>
        <div class="row g-3">
            <div class="col-lg-7 col-md-6">
                <div class="row g-3">
                    <div class="col-lg-12 col-md-12 wow zoomIn" data-wow-delay="0.1s">
                        <a class="position-relative d-block overflow-hidden" href="">
                            <img class="img-fluid" src="img/destination-1.jpg" alt="">
                            @* <div class="bg-white text-danger fw-bold position-absolute top-0 start-0 m-3 py-1 px-2">30% OFF</div> *@
                            <div class="bg-white text-primary fw-bold position-absolute bottom-0 end-0 m-3 py-1 px-2">Nha Trang</div>
                        </a>
                    </div>
                    <div class="col-lg-6 col-md-12 wow zoomIn" data-wow-delay="0.3s">
                        <a class="position-relative d-block overflow-hidden" href="">
                            <img class="img-fluid" src="img/destination-2.jpg" alt="">
                            @* <div class="bg-white text-danger fw-bold position-absolute top-0 start-0 m-3 py-1 px-2">25% OFF</div> *@
                            <div class="bg-white text-primary fw-bold position-absolute bottom-0 end-0 m-3 py-1 px-2">Hạ Long</div>
                        </a>
                    </div>
                    <div class="col-lg-6 col-md-12 wow zoomIn" data-wow-delay="0.5s">
                        <a class="position-relative d-block overflow-hidden" href="">
                            <img class="img-fluid" src="img/destination-3.jpg" alt="">
                            @* <div class="bg-white text-danger fw-bold position-absolute top-0 start-0 m-3 py-1 px-2">35% OFF</div> *@
                            <div class="bg-white text-primary fw-bold position-absolute bottom-0 end-0 m-3 py-1 px-2">Sóc Trăng</div>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-lg-5 col-md-6 wow zoomIn" data-wow-delay="0.7s" style="min-height: 350px;">
                <a class="position-relative d-block h-100 overflow-hidden" href="">
                    <img class="img-fluid position-absolute w-100 h-100" src="img/destination-4.jpg" alt="" style="object-fit: cover;">
                    @* <div class="bg-white text-danger fw-bold position-absolute top-0 start-0 m-3 py-1 px-2">20% OFF</div> *@
                    <div class="bg-white text-primary fw-bold position-absolute bottom-0 end-0 m-3 py-1 px-2">Hà Nội</div>
                </a>
            </div>
        </div>
    </div>
</div>
<!-- Destination Start -->
<!-- Package Start -->
<div class="container-xxl py-5">
    <div class="container">
        <div class="text-center wow fadeInUp" data-wow-delay="0.1s">
            <h6 class="section-title bg-white text-center text-primary px-3">Các Gói</h6>
            <h1 class="mb-5">Các Gói Gần Đây</h1>
        </div>
        <div class="row g-4 justify-content-center">
            @if (Model.TourDateList != null && Model.TourDateList.Any())
            {
                foreach (var tour in Model.TourDateList)
                {
                    <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.5s">
                        <div class="package-item">
                            <div class="overflow-hidden">
                                <img class="img-fluid" src="~/@tour.Tour.Images.FirstOrDefault()?.URL" alt="@tour.Tour.Name">
                            </div>
                            <div class="d-flex border-bottom">
                                <small class="flex-fill text-center border-end py-2">
                                    <i class="fa fa-map-marker-alt text-primary me-2"></i>@tour.Tour.Location
                                </small>
                                <small class="flex-fill text-center border-end py-2">
                                    <i class="fa fa-calendar-alt text-primary me-2"></i>
                                    @tour.StartDate.ToString("dd-MM-yyyy") - @tour.EndDate.ToString("dd-MM-yyyy")
                                </small>
                                <small class="flex-fill text-center py-2">
                                    <i class="fa fa-user text-primary me-2"></i>@tour.MaxCapacity Person
                                </small>
                            </div>
                            <div class="text-center p-4">
                                <h2 class="mb-0">@tour.Tour.Name</h2>
                                        <h3 class="mb-0">@string.Format("{0:N0}", tour.Tour.Price) đ</h3>
                                @if (!string.IsNullOrEmpty(tour.Tour.Description))
                                {
                                    <p>
                                        @if (tour.Tour.Description.Length > 100)
                                        {
                                            @(tour.Tour.Description.Substring(0, 100) + "...")
                                        }
                                        else
                                        {
                                            @tour.Tour.Description
                                        }
                                    </p>
                                }
                                <div class="d-flex justify-content-center mb-2">
                                    <a href="Toures/Detail?id=@tour.Id" class="btn btn-sm btn-primary px-3 border-end" style="border-radius: 30px 0 0 30px;">Đọc thêm</a>
                                    <a href="Toures/Booking?tourId=@tour.Id" class="btn btn-sm btn-primary px-3" style="border-radius: 0 30px 30px 0;">Đặt ngay</a>
                                </div>
                            </div>

                        </div>
                    </div>
                }
            }
            else
            {
                <p class="text-center">Hiện tại chưa có tour</p>
            }
        </div>
    </div>
</div>
<!-- Package End -->
